html{
	/*Muda o cursor do mouse*/
	cursor: url(imagens/mata_mosquito.png) 30 30, auto;
}

body{
	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat;
}

.mosquito1{
	width: 50px;
	height: 50px;
}

.mosquito2{
	width: 70px;
	height: 70px;
}

.mosquito3{
	width: 90px;
	height: 90px;
}

.ladoA{
	/*Muda a posição da imagem, como se fosse o lado (Numero 1 é a imagem normal)*/
	transform: scaleX(1);
}

.ladoB{
	/* Muda a posição da imagem, como se fosse o lado (Numero 1 é a imagem normal) */
	/* Agora -1 inverte a imagem, muda o lado */
	transform: scaleX(-1);
}

.painel{
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px; /*Fixa no anto inferior esquerdo*/
	border-top: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7; /* Deixa transparente */
}

.vidas{
	float: left;
}

.cronometro{
	float: left;
	font-size: 20px;
	font-weight: bold; /*Texto Negrito*/
}

/* media queries
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	body{
		background-size: 100%;
	}
}